- provide(:title, "Genre")

.container
  .row
    .col-sm-2.hidden-xs
      %h4 Tab
      .list-group
        %button.list-group-item.list-group-item-action{:type => "button"}
          tab1
        %button.list-group-item.list-group-item-action{:type => "button"} tab2
        %button.list-group-item.list-group-item-action{:type => "button"} tab3
        %button.list-group-item.list-group-item-action{:type => "button"} tab4
        %button.list-group-item.list-group-item-action{:type => "button"} tab5
        %button.list-group-item.list-group-item-action{:type => "button"} tab6
        %button.list-group-item.list-group-item-action{:type => "button"} tab7
        %button.list-group-item.list-group-item-action{:type => "button"} tab8
        %button.list-group-item.list-group-item-action{:type => "button"} tab9
        %button.list-group-item.list-group-item-action{:type => "button"} tab10

    .col-sm-10
      .jumbotron
        %h4= @genre.name
        %small.text-muted.hidden-xs= @genre.description
        %ul.list-group
          - @genre.lists.each do |list|
            %li
              =link_to list_path(list) do
                %h5=list.title
                .small=list.description
