= link_to new_list_path do
  Add
  .fa.fa-plus-square-o
.tab-content
  - categories.each_with_index do |category, i|
    .tab-pane{:id => "list#{i}", :role => "tabpanel", class: "#{'active' if i == 0}"}
      .list-group
        - category.lists.each do |list|
          = link_to list_path(list) do
            %button.list-group-item.list-group-item-action{:type => "button"}
              =list.title

